@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

h1 {
    cursor: pointer;
}
* {
    font-family: 'arial', serif;
}
nav.navbar {
    color: rgb(249, 249, 249) ;
}

.desplazar {
    float: right;
}

.center {
    text-align:center;
    width:100%;
} 


.footer {
    background-color:  #1E3B4B;
 }